<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org"></script>
  <script src="https://unpkg.com/hyperscript.org"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  <title>TRL</title>
  <style>
    a.panel-block.htmx-swapping {
      opacity: 0;
      transition: opacity 1s ease-out;
    }
  </style>
</head>

<body>
  <div id="modalinfo" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Instructions</p>
      </header>
      <section class="modal-card-body">
        <div class="content">
          <h2>Concepts</h2>
          <p>This application lets you manage random tasks.</p>
          <p><dfn>Random tasks</dfn> are tasks that you want to get done with an approximate
            frequency, but you don't mind the exact day. You want it to be a surprise for you,
            the recipient of the action or both.
          </p>
          <p>A <dfn>group</dfn> is a container for tasks. On any day, just a single task for each group will be scheduled.</p>
          <P>The <dfn>Scheduler algorithm</dfn> works as follows:</p>
            <ol>
              <li>If a 'rarely' task is randomly chosen, that task is scheduled.</li>
              <li>If a 'seldom' task is randomly chosen, that task is scheduled.</li>
              <li>If a 'often' task is randomly chosen, that task is scheduled.</li>
              <li>Otherwise, no task is scheduled.</li>
            </ol>
          <p>A <dfn>rarely</dfn> task is randomly scheduled approximately once every 365 days.</p>
          <p>A <dfn>seldom</dfn> task is randomly scheduled approximately once every 30 days.</p>
          <p>A <dfn>often</dfn> task is randomly scheduled approximately once every 7 days.</p>
          <p><defn>Randomly approximately</defn> means that on a given day a 'rarely' task has one probability out of 365 to be scheduled.</p>
          <p>When a task is scheduled, an email is sent to the logged in user.</p>
          <p>The sources are on <a href="https://github.com/lucabol/RandomEmails">Github</a></p>
          <h2>Missing features:</h2>
          <ul>
            <li>Login with Google, Github, Facebook, etc... or name/password.</li>
            <li>Modify names of groups. Not just Group1, ...</li>
            <li>Encrypt tasks in databse.</li>
            <li>Send Whatsup, Messages instead of email.</li>
            <li>Specify custom email address (likely needed for Google login)</li>
            <li>Specify more complex scheduling rules (i.e. just on weekends, weekdays, per task cadence, ...)</li>
            <li>Fix todos in the code.</li>
          </ul>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" _="on click toggle .is-active on #modalinfo">Close</button>
      </footer>
    </div>  
  </div>

  <!-- Brand and login -->
  <div class="hero is-small is-light bold">
    <div class="hero-body">
      <div class="container">
        <div class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <span class="icon">
                <i class="fas fa-lg fa-random"></i>
              </span>
            </div>
            <div class="level-item">
              <p class="subtitle"><strong>The Random Life</strong></p>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <span class="icon is-large has-text-link" style="cursor:pointer" _="on click toggle .is-active on #modalinfo">
                <i class="fas fa-2x fa-question-circle"></i>
              </span>
            </div>
            <div class="level-item">
              <div class="buttons">
                <div hx-get="/api/login" hx-trigger="load" hx-swap="outerHTML"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main pane -->
  <div class="section">
  <div hx-get="/api/group/0" hx-trigger="load" hx-swap="outerHTML"></div>
  </div>

  <!-- Footer -->
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        By <a href="https://www.lucabol.com">Luca Bolognese</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. </p>
    </div>
  </footer>
</body>

</html>